html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}
/* -------------------- Header wrappers fonts --------------------  */

h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
}
.header-wrapper .top-header p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
}
.burger-Menu {
  font-size: 1.9rem;
  font-weight: 500;
  color: #ffffff;
}

.hidden-on-mobile ul li a {
  font-size: 1.7rem;
  font-weight: 500;
  color: #ffffff;
}
.show-on-mobile ul li a {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}
/* -------------------- BG Section fonts --------------------  */
.section1-wrapper h2 {
  font-size: 2.4rem;
  font-weight: 700;
  white-space: nowrap;
  color: #ffffff;
  z-index: 2;
}
.section1-wrapper p {
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #ffffff;
  z-index: 2;
}
/* -------------------- Section2  Grid cards fonts --------------------  */
.card .card-heading h3 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #000000;
  white-space: nowrap;
}
.card .card-heading .jutsu-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  white-space: nowrap;
}
.description {
  font-size: 1.6rem;
  color: #666666;
  font-weight: 400;
  line-height: 100%;
}

/* -------------------- Footer   --------------------*/
.footer-wrapper p {
  font-size: 1.2rem;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
}
