/* -------------------- Additional responsive design --------------------  */
@media (min-width: 548px) {
  .grid-wrapper-sect2 {
    padding: 3.9rem 2.5rem 0 2.5rem;
  }
}
@media (min-width: 768px) {
  .main-heading img {
    width: 4.8rem;
  }
  h1 {
    font-size: 4rem;
  }
  .header-wrapper .top-header p {
    font-size: 1.8rem;
  }
  #toggle-a,
  #closing-a {
    display: none !important;
  }
  .bottom-header {
    align-items: center;
    padding: 2rem;
  }
  .hidden-on-mobile,
  .hidden-on-mobile ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.8rem;
  }
  .hidden-on-mobile ul li a {
    padding: 0.8rem 1.3rem;
    border-radius: 0.8rem;
  }
  .hidden-on-mobile ul li a:focus {
    background-color: #ff6b1a;
  }
  /* -------------------- BG Section Responsive --------------------  */
  .section1-wrapper h2 {
    font-size: 4rem;
  }
  .section1-wrapper p {
    font-size: 1.8rem;
    line-height: 100%;
  }
  /* -------------------- Grid-wrapper Responsive --------------------  */
  .grid-wrapper-sect2 {
    grid-template-columns: repeat(2, minmax(20rem, 40rem));
  }
  .card .card-heading .jutsu-heading {
    font-size: 2.4rem;
    font-weight: bold;
    color: #000000;
    white-space: nowrap;
  }
  /* -------------------- Footer --------------------  */
  .footer-wrapper p {
    font-size: 1.6rem;
    font-weight: 500;
  }
}
@media (min-width: 992px) {
  .grid-wrapper-sect2 {
    grid-template-columns: repeat(3, minmax(20rem, 30rem));
    justify-items: center;
  }
}
