/* -------------------- General Reset -------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}
/*-------------------- Header wrappers --------------------  */
.top-header {
  padding: 4rem 3rem;
}
.header-wrapper,
.top-header,
.bottom-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.top-header {
  background-color: #ff6b1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.main-heading img {
  width: 2rem;
}
.bottom-header {
  padding: 1rem;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.burger-Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1.3rem;
  background-color: #ff6b1a;
  border-radius: 0.8rem;
}
.hidden-on-mobile {
  display: none;
}
body.burger-menu-show .top-header {
  display: none;
}
.show-on-mobile {
  display: none;
}
body.burger-menu-show .show-on-mobile {
  width: 100vw;
  height: calc(100vh - 10px);
  position: fixed;
  top: 5rem;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url(../assets/images/bg-img-burger-menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 12;
  padding-top: 5rem;
  padding-left: 2rem;
}
body.burger-menu-show .show-on-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
body.burger-menu-show .show-on-mobile ul li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.closing {
  display: none;
}
/* -------------------- BG Section Styles --------------------  */
.section1 {
  background-image: url(../assets/images/leaf-village-bg-img.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2a2a2a;
  background-size: 20rem 40rem;
  padding: 13.7rem 2.5rem;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #2a2a2a;
  opacity: 90%;
  z-index: 1;
}
.section1-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
/* -------------------- Grid Section Styles --------------------  */

.section2 {
  background-color: #f5f5f5;
  padding: 3.9rem 2.5rem 15rem 2.5rem;
  display: flex;
  justify-content: center;
  background-image: url(../assets/images/naruto_map_by_loakana_dehpo04-fullview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-wrapper-sect2 {
  display: grid;
  grid-template-columns: repeat(1, minmax(20rem, 30rem));
  grid-template-rows: auto;
  gap: 3rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f5f5f5;
  gap: 1.5rem;
  border-radius: 1.2rem;
  border-top: 0.4rem solid #ff6b1a;
  padding: 2.3rem 2.4rem 6.2rem 2.4rem;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.15);
}
.card-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}
.nations-div,
.academy-div,
.mission-div,
.jutsu-div {
  display: none;
}
.nations-div:target,
.academy-div:target,
.mission-div:target,
.jutsu-div:target {
  display: grid;
}
body:not(:has(:target)) .nations-div {
  display: grid;
}
body:has(#nations:target) .nav a[href="#nations"],
body:has(#academy:target) .nav a[href="#nations"],
body:has(#mission:target) .nav a[href="#nations"],
body:has(#jutsu:target) .nav a[href="#nations"] {
  display: grid;
}
/* -------------------- Footer -------------------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.8rem 2rem 3.7rem 1.9rem;
  background-color: #1a1a1a;
}
/*  -------------------- Swapping divs -------------------- */
